<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="/img/weather.png"/>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{> header}}
             <p>This application is created by Rekha Tavvala. This includes information from mapbox.com and darksky.net </p>
             <img class="portrait" src="./img/portrait.jpg"/>
        </div>
        {{> footer}}
    </body>
</html>